Service:
  RegionId: cn-hangzhou
  DeployType: ros
  OperationMetadata:
    StatusOperationConfigs:
    - TemplateName: '单机版'
      SupportOperations:
      - Start
      - Stop
      - Restart
    SupportBackup: true
  DeployMetadata:
    SupplierDeployMetadata:
      ArtifactRelation:
        'higress':
          ArtifactId: ${Artifact.EcsImage.ArtifactId}
          ArtifactVersion: ${Artifact.EcsImage.ArtifactVersion}
    TemplateConfigs:
    - Name: 单机版
      Url: 'ros_templates/template.yaml'
      AllowedRegions: []
  ServiceType: private
  ServiceInfo:
    Locale: zh-CN
    ShortDescription: demo
    Image: 'resources/icons/service_logo.png'
    Softwares:
    - Name: higress
      Version: v2.1.9
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: higress
    Description: higress
    ArtifactProperty:
      RegionId: ${ImageBuilder.EcsImage.RegionId}
      ImageId: ${ImageBuilder.EcsImage.SourceImageId}
ImageBuilder:
  EcsImage:
    RegionId: ap-southeast-1
    # 使用最新的LTS版本Alibaba Cloud Linux
    SourceImageId: aliyun_3_x64_20G_alibase_20240819.vhd
    SystemDiskSize: 20
    InstanceType: ecs.c6.large
    InternetMaxBandwidthOut: 10
    CommandType: RunShellScript
    Timeout: 10800
    Tags: []
    CommandContent: |-
      #!/bin/bash
      # 升级基础组件：
      yum check-update
      yum -y upgrade --security
      yum -y upgrade-minimal

      # 安装docker-ce
      yum-config-manager --add-repo http://mirrors.aliyun.com/docker-ce/linux/centos/docker-ce.repo
      yum makecache
      yum install -y curl git docker-ce
      mkdir -p /etc/docker/
      echo '{
          "default-address-pools": [
              {
                  "base": "10.255.0.0/16",
                  "size": 24
              }
          ]
      }' > /etc/docker/daemon.json

      prefixChinaRegion="cn-"
      region=$(curl -s http://100.100.100.200/latest/meta-data/region-id)

      if [[ ${region} == ${prefixChinaRegion}* && ${region} != "cn-hongkong" ]]; then
        echo '{
            "default-address-pools": [
                {
                    "base": "10.255.0.0/16",
                    "size": 24
                }
            ],
            "registry-mirrors": [
                "https://mirrors-ssl.aliyuncs.com/"
            ]
        }' > /etc/docker/daemon.json
      fi

      sudo systemctl enable --now docker.socket
      sudo systemctl enable --now docker.service
      curl -fsSL https://higress.io/standalone/get-higress.sh | bash -s ./higress -a --use-builtin-nacos 
