Service:
  RegionId: cn-hangzhou
  DeployType: ros
  OperationMetadata:
    StatusOperationConfigs:
    - TemplateName: '单机版'
      SupportOperations:
      - Start
      - Stop
      - Restart
    SupportBackup: true
  DeployMetadata:
    SupplierDeployMetadata:
      ArtifactRelation:
        higress:
          ArtifactId: ${Artifact.EcsImage.ArtifactId}
          ArtifactVersion: draft
      SupplierTemplateConfigs:
      - Name: 单机版
        Url: ros_templates/template.yaml
        AllowedRegions:
        - ap-southeast-1
        - cn-hangzhou
        - cn-shanghai
        - cn-beijing
        - cn-shenzhen
    TemplateConfigs:
    - Name: 单机版
      Url: 'ros_templates/template.yaml'
      AllowedRegions:
      - ap-southeast-1
      - cn-hangzhou
      - cn-shanghai
      - cn-beijing
      - cn-shenzhen
  ServiceType: private
  ServiceInfo:
  - Locale: zh-CN
    Name: Higress网关
    ShortDescription: demo
    Image: 'resources/icons/service_logo.png'
    Softwares:
    - Name: higress
      Version: v2.1.9
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: ecs_image_quickstart-higress
    Description: quickstart-higress EcsImage
    SupportRegionIds:
    - ap-southeast-1
    - cn-hangzhou
    - cn-shanghai
    - cn-beijing
    - cn-shenzhen
    ArtifactBuildProperty:
      CodeRepo:
        Platform: github
        Owner: LYH-RAIN
        RepoName: aliyun-computenest/quickstart-higress
        Branch: main
      RegionId: ap-southeast-1
      CommandType: RunShellScript
      CommandContent: |-
        #!/bin/bash
        curl -fsSL https://higress.io/standalone/get-higress.sh | bash -s -- -a --use-builtin-nacos 
